{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="view_main">
	<div class="main_info">
		<div class="main_text">
			<div class="my_name">
				<h1 class="display-3">Serhiy Didyk</h1>
			</div>
			<div class="my_description">
				<h1 class="display-5">web developer</h1>
			</div>
			<div class="signs">
				<ul>
					<li><i class="fab fa-html5"></i></li>
					<li><i class="fab fa-css3"></i></li>
					<li><i class="fab fa-js"></i></li>
					<li><i class="fab fa-node-js"></i></li>
					<li><i class="fab fa-php"></i></li>
				</ul>
			</div>
		</div>
	</div>
</div>