extends layout

block content 
	h1 Курсы академии IMT

	form(method="post")
		fieldset.form-group
			label(for="name") Название курса:
			input.form-control(name="name", type="text", placeholder="Введите имя курса" value=course.name)
			small.text-muted Добавьте новый курс.
		button.btn.btn-primary(type="submit") Сохранить курс
		a.btn.btn-default(href="/courses") Отмена